<ion-header>
  <ion-toolbar>
    <ion-title>
      ScheduleSet List
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding class="homepage"> 
    <div *ngFor="let item of schedulesets; let i = index">
        <ion-list>
          <ion-item lines="none"
            (click)="toggleSection(i)" 
            [ngClass]="{ 'section-active': item.open, section: !item.open }"
          >
          <ion-grid fixed  >
              <ion-row  justify-content-between>
                  <ion-col size-md="4" size-lg="4" size-xs="12"  > 
                      <ion-item class="category-header" >
                          <ion-label> ID : {{ item._id }}  </ion-label>  
                        <ion-icon
                          slot="end"
                          item-right
                          name="arrow-forward"
                          *ngIf="!item.open"
                          color="primary"
                        ></ion-icon>
                        <ion-icon
                          slot="end"
                          item-right
                          name="arrow-down"
                          *ngIf="item.open"
                          color="primary"
                        ></ion-icon> 
                      </ion-item>
                  </ion-col> 
                  <ion-col size-md="2" size-lg="2" size-xs="2"  offset-lg = "6"  offset-md = "6" offset-xs="8"  > 
                      <ion-button   fill="outline" (click)="deleteScheduleSetRemote(item)">Delete</ion-button>  
                  </ion-col>  
              </ion-row>
          </ion-grid>
          </ion-item>
          <div *ngIf="item.schedules && item.open">  
                <ion-item  class="sub-category" *ngFor="let s of item.schedules"> 
                    <ion-grid fixed  >
                        <ion-row  justify-content-between>
                          <ion-col size-md="6" size-lg="6" size-xs="8"  > 
                              <ion-label> ScheduleId - {{ s.scheduleId }}  </ion-label>
                          </ion-col> 
                        </ion-row>
                        <ion-row  justify-content-between>
                            <ion-col size-md="4" size-lg="4" size-xs="12"  > 
                                <ion-item>
                                    <ion-label>Day : </ion-label>
                                    <ion-select  [(ngModel)]="s.day" ok-text="Okay" cancel-text="Cancel">
                                      <ion-select-option *ngFor="let d of days" value="{{d}}">{{d}}</ion-select-option> 
                                    </ion-select>
                                  </ion-item>
                            </ion-col>
                            <ion-col size-md="4" size-lg="4" size-xs="12">  
                                  <ion-row   > 
                                    <ion-col size-md="3" size-lg="3" size-xs="8"   > 
                                        <ion-label position="fixed" >Start : </ion-label>
                                    </ion-col> 
                                    <ion-col size-md="3" size-lg="3" size-xs="8"   > 
                                      <ion-item  > 
                                            15 x 
                                      </ion-item>
                                    </ion-col> 
                                    <ion-col size-md="3" size-lg="3" size-xs="8"   > 
                                        <ion-item  >
                                            <ion-input type="number" [ngModel]="calcuStart(s)"  min="1" (ionChange)="onStartChange($event,s)"></ion-input> 
                                      </ion-item>
                                    </ion-col> 
                                    <ion-col size-md="3" size-lg="3" size-xs="8"> 
                                       <ion-item  >
                                            <ion-label> : {{s.start}}  </ion-label>
                                      </ion-item>
                                    </ion-col> 
                                  </ion-row>  
                            </ion-col> 
                             <ion-col size-md="4" size-lg="4" size-xs="12">  
                                <ion-row   > 
                                    <ion-col size-md="3" size-lg="3" size-xs="2"   > 
                                        <ion-label position="fixed" >End : </ion-label>
                                    </ion-col> 
                                    <ion-col size-md="3" size-lg="3" size-xs="3"   > 
                                      <ion-item  > 
                                            15 x 
                                      </ion-item>
                                    </ion-col> 
                                    <ion-col size-md="3" size-lg="3" size-xs="3"   > 
                                        <ion-item  >
                                            <ion-input type="number" [ngModel]="calcuEnd(s)"  min="1" (ionChange)="onEndChange($event,s)"></ion-input> 
                                      </ion-item>
                                    </ion-col> 
                                    <ion-col size-md="3" size-lg="3" size-xs="4"> 
                                       <ion-item  >
                                            <ion-label> : {{s.end}}  </ion-label>
                                      </ion-item>
                                    </ion-col> 
                                  </ion-row>
                            </ion-col> 
                         </ion-row>
                         <ion-row   > 
                            <ion-col size-md="3" size-lg="3" size-xs="8"  offset-lg = "9" offset-md = "9" offset-xs="4" > 
                                <ion-button   fill="outline" (click)="updateRemote(item)">Save</ion-button>
                                <ion-button   fill="outline" (click)="deleteScheduleRemote(item,s._id)">Delete</ion-button> 
                            </ion-col> 
                          </ion-row>
                      </ion-grid>
                </ion-item>   
          </div>
        </ion-list>
      </div> 
        
      <div> 
        <ion-grid fixed  >
            <ion-row  justify-content-between>
                <ion-col size-md="6" size-lg="6" size-xs="12"  > 
                    <ion-item lines="none"> 
                        <ion-label position="stacked">Preparation Delay :</ion-label>
                        <ion-input type="number" [(ngModel)]="preDelay"  min="1" (ionChange)="onDelayChange()"></ion-input>
                  </ion-item>
                </ion-col>  
                <ion-col size-md="6" size-lg="6" size-xs="12"   >  
                   <ion-item lines="none">
                      <ion-label position="stacked">Rush Delay :</ion-label>
                      <ion-input type="number" [(ngModel)]="rushDelay"  min="1" (ionChange)="onDelayChange()"></ion-input>
                    </ion-item>
                </ion-col>  
                 
            </ion-row>
            <ion-row  justify-content-between> 
                <ion-col size-md="12" size-lg="12" size-xs="12"  *ngIf="delayValidation()">  
                     <ion-item lines="none">
                        <ion-label position="stacked">  Next available order date estimate :</ion-label>
                        <ion-input  [ngModel]="nextOrderDate"  min="1" readonly ></ion-input>
                      </ion-item>
                </ion-col> 
                <ion-col size-md="6" size-lg="6" size-xs="12" >  
                    <ion-label *ngIf="!delayValidation()" color="danger">The sum of Preparation Delay and Rush Delay should modulo 15 </ion-label>
                 </ion-col> 
            </ion-row>
        </ion-grid> 
      </div> 

 </ion-content>
